{% extends 'admin_zone/admin_home.html' %}

{% block title %}View JobSeekers{% endblock title %}

{% block body %}
    <h1 style="text-align: center; padding-top: 2%" id="title">Job Seekers</h1>
    <table class="table table-dark table-borderless my-4" style="width:90%; margin-left: auto; margin-right: auto;">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>City</th>
            <th>Contact No</th>
            <th>Email Address</th>
            <th>Qualification</th>
            <th>Resume</th>
            <th>Date</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% for jobseeker in jobseekers %}
        <tr>
            <td>{{jobseeker.name}}</td>
            <td>{{jobseeker.gender}}</td>
            <td>{{jobseeker.address}}</td>
            <td>{{jobseeker.city}}</td>
            <td>{{jobseeker.contactno}}</td>
            <td>{{jobseeker.email}}</td>
            <td>{{jobseeker.qualification}}</td>
            <td><a href="../media/resume/{{jobseeker.file}}">Open</a></td>
            <td>{{jobseeker.date}}</td>
            <td><a href="emp_reg?name={{jobseeker.name}}&gender={{jobseeker.gender}}&address={{jobseeker.address}}&city={{jobseeker.city}}&contactno={{jobseeker.contactno}}&email={{jobseeker.email}}"><img style="transform: scale(1.2);" src = "..\static\images\accept.png"  width="25" height="25"></a></td>
            <td><a href="del_js?id={{jobseeker.id}}&name={{jobseeker.name}}&email={{jobseeker.email}}" style="color:#FF0000"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}