{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<style>
    .heading {
      text-align: center;
      color: rgba(255,255,255,1);
      font-size: 150px;
      transition: 1.5s;
    }
    
    .para {
      text-align: center;
      color: rgba(255,255,255,0.2);
      font-size: 20px;
      padding: 0% 10% 10%;
      transition: 1.5s;
    }
    
    .para:hover {
      text-align: center;
      color: rgba(255,255,255,1);
      font-size: 20px;
      padding: 2px 10% 10%;
      transition: 1.5s;
    }
    
    </style>
    
    <div id="content">
      <p class="heading">ABOUT US</p>
      <p class="para">Our rich industry experience and knowledge has enabled us offer a variety of Electrical Products such as Stabilizer, Transformer, etc. In addition to this, we also provide Annual Maintenance Services for the same. With an aim to provide customers with world class products, we use the finest quality raw material and sophisticated technology in our manufacturing process. We ensure that the offered products are in complete compliance with the defined industry standards
    </div>
{% endblock body %}